---
const {title} = Astro.props
const {description} = Astro.props
const {icon} = Astro.props
---

<div class="ayuda">
   
    <i class={icon}></i>
    <h3 class="">{title}</h3>
    <p class="">{description}</p>

</div>


<style>

.ayuda {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    transition: transform 0.2s ease;


img {
margin-bottom: 1em;
  height: 3vw;
}
p {
margin-top: 0rem;
  max-width: 30ch;
  text-align: center;
  font: var(--body-copy-m);
  color: var(--dark-muted-text-2);
}

i {
  font-size: 4rem;
  color: var(--accent-500);
}

&:hover {
  
  
  transform: translateY(-6px);
}

}
@media (max-width: 767px) {

  .ayuda {
    gap: .5rem;
  }
  
}



</style>